{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": true,
        "targets": {
          "node": "18"
        },
        "exclude": [
          "transform-async-to-generator",
          "transform-regenerator"
        ]
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        "@babel/preset-env"
      ]
    }
  }
}
