{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "experimentalObjectRestSpread": true
    },
  },
  "plugins": ["promise", "standard", "babel"],
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "strict": [2, "global"],
    "no-constant-condition": [2, {"checkLoops": false}],
    "no-undef": 2,
    "no-use-before-define": 2,
    "new-cap": 0,
    "no-const-assign": 2,
    "key-spacing": 0,
    "block-spacing": [2, "never"],
    "array-bracket-spacing": [2, "never"],
    "brace-style": [2, "1tbs", {"allowSingleLine": true}],
    "camelcase": [2, {"properties": "always"}],
    "comma-spacing": [2, {"before": false, "after": true}],
    "max-statements-per-line": [2, {"max": 1}],
    "no-debugger": 1,
    "no-trailing-spaces": 1,
    "eol-last": 0,
    "no-dupe-keys": 2,
    "no-dupe-args": 2,
    "no-dupe-class-members": 2,
    "max-len": [1, {"code": 110, "ignoreUrls": true}],
    "newline-before-return": 1,
    "newline-after-var": 1,
    "newline-per-chained-call": ["error", {"ignoreChainWithDepth":2 }],
    "prefer-rest-params": 2,
    "func-style": [1, "expression"],
    "no-useless-rename": 1,
    "prefer-spread": 1,
    "template-curly-spacing": [2, "never"],
    "no-useless-constructor": 1,
    "no-useless-computed-key": 2,
    "no-this-before-super": 2,
    "no-class-assign": 2,
    "no-duplicate-imports": 2,
    "no-duplicate-case": 2,
    "no-empty-character-class": 2,
    "no-ex-assign": 2,
    "no-empty": 2,
    "no-extra-boolean-cast": 1,
    "quote-props": [2, "as-needed"],
    "no-return-assign": 0,
    "one-var-declaration-per-line": [2, "always"],
    "no-whitespace-before-property": 1,
    "no-underscore-dangle": 0,
    "max-nested-callbacks": [2, 4],
    "space-unary-ops": [1, {
      "words": true,
      "nonwords": false
    }],
    "space-infix-ops": 2,
    "keyword-spacing": [2, {"before": true, "after": true}],
    "space-in-parens": [2, "never"],
    "space-before-function-paren": [1, "never"],
    "max-depth": [2, 6],
    "linebreak-style": [2, "unix"],
    "space-before-blocks": [1, "always"],
    "arrow-spacing": [2, {"before": true, "after": true}],
    "generator-star-spacing": [2, {"before": true, "after": false}],
    "constructor-super": 2,
    "object-shorthand": [1, "always"],
    "no-unused-vars": 2,
    "no-multi-spaces": 0,
    "no-multi-str": 2,
    "no-native-reassign": 2,
    "no-redeclare": 2,
    "no-self-compare": 2,
    "no-throw-literal": 2,
    "wrap-iife": [2, "inside"],
    "operator-linebreak": [2, "after"],
    "operator-assignment": [2, "always"],
    "object-curly-spacing": [2, "never"],
    "no-spaced-func": 2,
    "no-unneeded-ternary": 1,
    "padded-blocks": [2, "never"],
    "prefer-template": 1,
    "no-func-assign": 2,
    "no-inner-declarations": 2,
    "no-invalid-regexp": 2,
    "no-regex-spaces": 1,
    "no-unreachable": 1,
    "no-proto": 2,
    "no-sparse-arrays": 2,
    "valid-typeof": 2,
    "block-scoped-var": 2,
    "dot-location": [2, "property"],
    "dot-notation": 2,
    "eqeqeq": 2,
    "no-alert": 2,
    "no-case-declarations": 2,
    "no-empty-pattern": 2,
    "no-eval": 2,
    "no-extra-bind": 1,
    "no-labels": 2,
    "no-lone-blocks": 2,
    "no-lonely-if": 2,
    "no-multiple-empty-lines": 1,
    "no-nested-ternary": 2,
    "no-restricted-syntax": ["error", "WithStatement"],
    "no-mixed-spaces-and-tabs": 1,
    "no-loop-func": 2,
    "use-isnan": 2,
    "no-irregular-whitespace": 1,
    "no-negated-in-lhs": 2,
    "no-obj-calls": 2,
    "prefer-const": 0,
    "one-var": [2, {"uninitialized": "always"}],
    "curly": 0,
    "computed-property-spacing": [2, "never"],
    "comma-style": [2, "last"],
    "no-console": 1,
    "indent": [2, 2, {
      "SwitchCase": 1,
      "VariableDeclarator": {
        "var": 2,
        "let": 2,
        "const": 3
      }
    }],
    "quotes": [2, "single"],
    "semi": [2, "always"],
    "no-extra-semi": 0
  }
}
